[Unit]
Description=LoRa APRS DB Cleanup
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/cleanup.py
Restart=always
RestartSec=5
User=RPI_USER_PLACEHOLDER

[Install]
WantedBy=multi-user.target
